html, body{
    background-color: #c6e4e6;
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
}

header{
    background-color: #10989c;
    padding: 15px;
}

.titulo{
    text-align: center;
}

.nome{
    font-family: 'Luxurious Script', cursive;
    text-align: center;
    
}

#qss{
    position: relative;
    text-decoration: none;
    color: black;
    left: 12%;
}

#qss:hover{
    color: red;
}

#pis{
    position: relative;
    text-decoration: none;
    color: black;
    left: 8%;
}
#pis:hover{
    color: red;
}

main{
    flex: 1 0 auto;
    background-color: #bae0e1;
}

.history{
    text-align: center;
    color: #115852;
}

.embed{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
}

.embed iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
}

.youtube a{
    text-decoration: none;
    
}

#instagram{
    color: white;
    text-decoration: none;
}

.footer{
    flex-shrink: 0;
    margin: 1% 0 0 0; 
    background-color: black;
}