html, body{
    background-color: #c6e4e6;
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
}

header{
    background-color: #10989c;
    padding: 15px;
}

.titulo{
    text-align: center;
    font-family: 'Luxurious Script', cursive;
}

.nome{
    font-family: 'Luxurious Script', cursive;
    text-align: center;
}

#pi  {
    background-color: hsl(183, 59%, 76%);
    position: relative;
    border: solid 1px black;
    left: 8%;
}

#pi:hover{
    background-color: #53d8df;
}

#qs  {
    background-color: hsl(183, 59%, 76%);
    position: relative;
    border: solid 1px black;
    left: 8%;
}

#qs:hover{
    background-color: #53d8df;
}

#qss{
    text-decoration: none;
    color: black;
}

#pis{
    text-decoration: none;
    color: black;
}

main{
    flex: 1 0 auto;
    background-color: #bae0e1;
}

.embed{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
}

.embed iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
}
#instagram{
    color: white;
    text-decoration: none;
}

.footer{
    flex-shrink: 0;
    margin: 1% 0 0 0; 
    background-color: black;
}