/*@media only screen and (orientation: landscape){
    body{
        background-color: lightblue;
    }
}*/


*{
    box-sizing: border-box;
}
html, body{
    height: 100%;
}
body{
    background-color: #c6e4e6;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #10989c;
    padding: 15px;
}

main{
    /*
    background: #bae0e1 url('image/fundo400.png') center center no-repeat fixed;
    background-size: cover;
    flex: 1 0 auto;
    max-width: 400px;
    */
    background-image: url('image/fundo400.png');
    background-repeat: no-repeat;
    background-size: 400px;
    background-position-x: center;
    flex: 1 0 auto;
    background-color: #bae0e1;
  
}

#qsa{
    text-decoration: none;
    color: black;
    position: relative;
    left: 8%;
}

#qsa:hover{
    color: red;
}

#eda{
    text-decoration: none;
    color: black;
    position: relative;
    left: 10%;
}

#eda:hover{
    color: red;
}

.princ{
    border: 1px solid black;
    padding: 15px;
    width: 75%;
    float: left;
}

.title2{
    position: relative;
    text-align: center;
    font-family: 'Luxurious Script', cursive;
    color: #115852;
    font-size: 60px;
    top: 48%;
}    


.conteudo{
    text-align: center;
}

/*For mobile phones*/
[class*="col-"]{
    width: 100%;
}

.col-12{
    position: absolute;
    bottom: 8%;
}

@media only screen and (max-width: 600px){
    /*for tablets*/
     .col-1{ width: 8.33%;}
     .col-2{ width: 16.66%;}
     .col-3{ width: 25%;}
     .col-4{ width: 33.33%;}
     .col-5{ width: 41.66%;}
     .col-6{ width: 50%;}
     .col-7{ width: 58.33%;}
     .col-8{ width: 66.66%;}
     .col-9{ width: 75%;}
     .col-10{ width: 83.33%;}
     .col-11{ width: 91.66%;}
     .col-12{ width: 100%;}
 }
 

@media only screen and (max-width: 768px){
   /*for descktop*/
    .col-1{ width: 8.33%;}
    .col-2{ width: 16.66%;}
    .col-3{ width: 25%;}
    .col-4{ width: 33.33%;}
    .col-5{ width: 41.66%;}
    .col-6{ width: 50%;}
    .col-7{ width: 58.33%;}
    .col-8{ width: 66.66%;}
    .col-9{ width: 75%;}
    .col-10{ width: 83.33%;}
    .col-11{ width: 91.66%;}
    .col-12{ width: 100%;}
}

#insta{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.514);
    text-decoration: none;
}

#instagram{
    color: white;
    text-decoration: none;
}

.footer{
    flex-shrink: 0;
    background-color: black;
}

embed{
    position: relative;
    width: 100%;
}

embed iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
}